<div class="wrapper">
	<div class="section section-dark" ngsReveal>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col">
							<h2 class="title">AUDIO</h2>
							<p class="description">
								<iframe src="https://open.spotify.com/embed/album/1WY6qrHw1xbjYf7aiVeLZc" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
							</p>
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col">
							<h2 class="title">VIDEOs</h2>
							<div class="ce_youtube block">
								<h4>To The Grave</h4>
								<div class="ce_youtube-wrapper">
									<iframe src="https://www.youtube.com/embed/3JjDRSPaoQo?rel=0&amp;autohide=1&amp;showinfo=0" frameborder="0"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>