.carousel-inner{
    .carousel-item{
        img{
            border-radius: $border-radius-extreme;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
            height: 400px;
            width: 100%;
        }
    }
}

.carousel-indicators{
    bottom: 0px;
}
.carousel-indicators li{
    background-color: $white-color;
    border: 0 none;
}
.carousel-indicators .active{
    background-color: $danger-color;
}
.page-carousel:hover{
    .carousel-control-prev,
    .carousel-control-next{
        opacity: 1;
        @include transition(300ms, linear);

    }
}
ngb-carousel{
    &:focus{
        outline: none !important;
    }

}
