<div class="wrapper" #news ngsReveal>
	<div class="section section-dark">
		<div class="container">
			<div class="row">
				<div class="col justify-content-center">
					<div class="fb-page" data-href="https://www.facebook.com/hallsofoblivion/" data-tabs="timeline" data-width="500" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/hallsofoblivion/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hallsofoblivion/">Halls of Oblivion</a></blockquote></div>
				</div>
			</div>
			<!--
				
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<h2 class="title ml-auto mr-auto text-center">News</h2>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum enim nec eros sollicitudin lobortis. Curabitur metus libero, lobortis a ligula vitae, tristique egestas eros. Duis malesuada sed sem dictum sollicitudin. Mauris bibendum nec felis eget ultricies. Vestibulum eu placerat purus, quis auctor massa. Curabitur fringilla ut leo ac malesuada. Duis feugiat consectetur mattis. Duis euismod eleifend aliquet. Sed tincidunt mattis pharetra.
						</p>
						<p class="description">
							Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent fringilla tortor et ultricies tempor. Etiam a mauris sed est efficitur maximus vel eu metus. Etiam non vestibulum libero. Quisque lobortis pretium lacinia. Cras est felis, eleifend in faucibus et, ornare ac urna. Morbi ac libero in sapien euismod commodo nec at tortor.
						</p>
						<p class="description">
							Nulla blandit maximus leo, vitae eleifend ex. Suspendisse sapien ante, vehicula a pulvinar consectetur, malesuada in velit. Duis id pretium arcu. Ut tristique nibh sit amet sem convallis placerat. Maecenas id velit hendrerit, molestie purus vitae, consectetur sem. Suspendisse euismod sodales nunc non placerat. Praesent metus ipsum, dapibus at rutrum a, blandit maximus quam. Vivamus scelerisque ante ut augue condimentum volutpat. Ut ut dolor quis lorem gravida ultricies eget at dolor. Phasellus id sodales ante.
						</p>
						<p class="description">
							Donec sit amet diam lacus. Nullam facilisis risus ut dolor tempor, et euismod metus blandit. Phasellus semper a risus vitae sollicitudin. Aenean lobortis sed mauris quis finibus. Aliquam id tellus sit amet odio semper venenatis quis non elit. Sed ac mi dictum, sagittis leo a, pretium odio. Phasellus quis elementum dolor. Mauris laoreet, mi vitae convallis rutrum, ante sapien vestibulum felis, ut tempus odio lorem vel neque. Mauris ut urna tempus, congue ex ut, venenatis lectus. Duis a fringilla ante.
						</p>
					</div>
				</div>				
			-->
		</div>
	</div>
</div>