<div class="wrapper" #news ngsReveal>
	<div class="section section-dark">
		<div class="container">
			<div class="row">
				<div class="col justify-content-center">
					<h2 class="title ml-auto mr-auto text-center">News</h2>
					<div class="description">
						<div class="fb-page" data-href="https://www.facebook.com/hallsofoblivion/" data-tabs="timeline" data-width="500" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
							<blockquote cite="https://www.facebook.com/hallsofoblivion/" class="fb-xfbml-parse-ignore">
								<a href="https://www.facebook.com/hallsofoblivion/">Halls of Oblivion</a>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>