<div class="wrapper" id="news" #news>
	<div class="section section-dark" ngsReveal>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col">
					<h2 class="title ml-auto mr-auto text-center">News</h2>
					<ngb-carousel>
						<ng-template ngbSlide>
							<img class="d-block img-fluid" src="/assets/img/the_servant.jpg" alt="The Servant - Artwork">
							<div class="carousel-caption">
									<h5 class="card-title text-white">🔥🔥🔥 The Servant 🔥🔥🔥</h5>
									<p>
										The first single of our upcoming album "Endtime Poetry" - The Servant!
									</p>
									<p>
										Check out our <a pageScroll href="#media">media section</a> for listening options.
									</p>
									<p>
										Until then, enjoy The Servant !!! Have no mercy with those puny ears of
										yours 😜🤘🤘🤘
									</p>
							</div>
						</ng-template>
						<ng-template ngbSlide>
							<img class="d-block img-fluid" src="/assets/img/weeping_willow.jpg" alt="Under The Weeping Willow - Artwork">
							<div class="carousel-caption">
								<h5 class="card-title text-white">🔥🔥🔥 Under the Weeping Willow 🔥🔥🔥</h5>
										
								<p>
									Second single of our upcoming album "Endtime Poetry" is out now.
								</p>
								<p>
									Check out our <a pageScroll href="#media">media section</a> for listening options.
								</p>
								<p>
									Ready your necks and crank up your speakers! 🔊🔊🔊🔊🔊
								</p>
								<p>
									Stay tuned for more 🤘🤘🤘🤘
								</p>
							</div>
						</ng-template>						
					</ngb-carousel>

				</div>
			</div>
		</div>
	</div>
</div>




<!--

					
					<div class="fb-page" data-href="https://www.facebook.com/hallsofoblivion/"
						data-tabs="timeline"
						data-width="500"
						data-height=""
						data-small-header="true"
						data-adapt-container-width="true"
						data-hide-cover="true"
						data-show-facepile="false">
						<blockquote cite="https://www.facebook.com/hallsofoblivion/" class="fb-xfbml-parse-ignore">
							<a href="https://www.facebook.com/hallsofoblivion/">Halls of Oblivion</a>
						</blockquote>
					</div>
					-->