<div class="wrapper" id="band">
	<div class="section section-dark" ngsReveal>
		<div class="jumbotron band">
			<div class="filter-both"></div>
		</div>
	</div>

	<div class="section section-dark" ngsReveal>
		<div class="container">
			<div class="row">                  
				<div class="col-lg-12 col-md-12">

					<h2 class="headline">
						BAND
					</h2>
					<p class="description">
						Not to be forgotten: Halls of Oblivion!
					</p>
					<p class="description">
						Unlike the name might suggest; Halls of Oblivion will stick in your memory.
					</p>
					<p class="description">
						Deep in the gloomy "halls of oblivion", a tender melody and a whispered word suddenly become a roaring composition with brutal riffs and heavy words. Merciless and honest, the depths of the human soul are awaiting the listener within fictional walls. Internal unrest seeks its way through silence and oblivion in an aggressive and desperate way, thereby obtaining a hearing.
					</p>
					<p class="description">
						Goose bumps guaranteed!
					</p>
					<p class="description">
						The creations of the four handsome men from Vaihingen/Enz represent a cruel, sorrowful ambiance. Halls of Oblivion unveil themes that are often kept secret but should not be forgotten. In doing so, they demonstrate their musical skills and sense of the subtleties of melodic death metal. Influences of black and doom metal complement the use of synthesizers, thus creating a unique atmosphere.
					</p>
					<p class="description">
						Since their foundation in 2007/2008, Halls of Oblivion were able to refine their style through personal and common experiences. Since then, it has become more and more apparent what eventually took shape in 2014: A blend more peaceful than melodic death metal, more melodic than black metal, more harmonic than death metal - yet equally complex, graceful and merciless as our existence.
					</p>
					<p class="description">
						The music is mainly written by vocalist and rhythm guitarist Sebastian Ruf, who gives the songs a black metal vibe; as well as lead guitarist Marcel Welte, who skillfully brings it in accordance with melancholic melodies. Markus Kristen is responsible for the recordings and bass guitar, thereby anchoring the harmonic framework of the songs, while Markus Weber provides the final creative touches with his drumming.
					</p>
					<p class="description">
						The longtime friends are an experienced team that is ready to become popular well above the ceiling of the halls. 
					</p>
					<p class="description">
						Their debut EP „The Blind Legion“ was released in 2015 (digital re-release in 2016). The first full-length album of the quartet “Endtime Poetry” will be published 14th of June 2019 and refines the characteristic style of the band, thereby likewise attracting fans of melodic death and black metal.
					</p>
					<p class="description">
						Step inside - the halls of oblivion!
					</p>
				</div>
			</div>				
		</div>
	</div>

	<div class="section section-dark" ngsReveal>
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2 class="title">Lineup</h2>
						<p class="description center">
							Marcel Welte - Lead Guitar<br />
							Sebastian Ruf - Vocal + Rhythm Guitar<br />
							Markus Kriten - Bass<br />
							Markus Weber - Drums<br />
						</p>
					</div>
					<div class="col-md-6 text-center">
							<h2 class="title">Contact</h2>
						<p class="description center">
							Band: kontakt@hallsofoblivion.de<br />
							Booking: booking@hallsofoblivion.de<br />
						</p>
					</div>
				</div>
			</div>
		</div>	
</div>