<div class="wrapper" >
	<div class="section section-dark" ngsReveal>
		<div class="jumbotron band">
			<div class="filter-both"></div>
		</div>
	</div>
	<div id="band" class="m-3">&nbsp;</div>
	<div class="section section-dark bandtext" ngsReveal>
		
		<div class="container">
			<div class="row">                  
				<div class="col-lg-12 col-md-12">
					<h2 class="headline">
						BAND
					</h2>
					<p class="description">
						Not to be forgotten: Halls of Oblivion!
					</p>
					<p class="description">
						Unlike the name might suggest; Halls of Oblivion will stick in your memory.
					</p><br />
					<p class="description">
						Deep in the gloomy "Halls of Oblivion", a tender melody and a whispered word suddenly become a roaring composition with brutal riffs and heavy words. Merciless and honest, the depths of the human soul are awaiting the listener within fictional walls. Internal unrest seeks its way through silence and oblivion in an aggressive and desperate way, thereby obtaining a hearing.
						Goose bumps guaranteed!
					</p><br />
					<p class="description">
						The creations of the four men from Vaihingen/Enz represent a cruel, sorrowful ambiance. Halls of Oblivion unveil themes that are often kept secret but should not be forgotten. In doing so, they demonstrate their musical skills and sense of the subtleties of melodic death metal. Influences of black and doom metal complement the use of synthesizers, thus creating a unique atmosphere.
					</p><br />
					<p class="description">
						Since their foundation in 2007/2008, Halls of Oblivion were able to refine their style through personal and common experiences. Since then, it has become more and more apparent what eventually took shape in 2014: A blend more peaceful than melodic death metal, more melodic than black metal, more harmonic than death metal - yet equally complex, graceful and merciless as our existence.
					</p><br />
					<p class="description">
						The music is mainly written by vocalist and rhythm guitarist Sebastian Ruf, who gives the songs a black metal vibe; as well as lead guitarist Marcel Welte, who skillfully brings it in accordance with melancholic melodies. Markus Kristen is responsible for the recordings and bass guitar, thereby anchoring the harmonic framework of the songs, while Markus Weber provides the final creative touches with his drumming.
					</p><br />
					<p class="description">
						The longtime friends are an experienced team that is ready to become popular well above the ceiling of the halls. 
					</p><br />
					<p class="description">
						Their debut EP „The Blind Legion“ was recorded and released in 2015 on their own. Later in 2016, it was remastered and digitally re-released by 7hard records.
						The first full-length album of the quartet “Endtime Poetry” will be published 21st of June 2019 and refines the characteristic style of the band, thereby likewise attracting fans of melodic death and black metal.
					</p><br />
					<p class="description">
						Step inside - the halls of oblivion!
					</p>
				</div>
			</div>				
		</div>
	</div>
<!--
	<div class="section section-dark" ngsReveal>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 p-3 img-cont">
					<img src="/assets/img/band/einzel_markus-k.jpg" alt="..." class="img-thumbnail">
					<div class="overlay">
						<div class="text">Markus K - BASS</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6  p-3 img-cont">
					<img src="/assets/img/band/einzel_basti.jpg" alt="..." class="img-thumbnail">
					<div class="overlay">
						<div class="text">Markus K - BASS</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6  p-3 img-cont">
					<img src="/assets/img/band/einzel_marci.jpg" alt="..." class="img-thumbnail">
					<div class="overlay">
						<div class="text">Markus K - BASS</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 p-3 img-cont">
					<img src="/assets/img/band/einzel_markus-w.jpg" alt="..." class="img-thumbnail">
					<div class="overlay">
						<div class="text">Markus K - BASS</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-dark" ngsReveal>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 p-3">
					<div class="card bg-dark text-white">
						
					<img src="/assets/img/band/einzel_markus-k.jpg" alt="..." class="card-image">
						<div class="card-img-overlay">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							
						</div>
					</div>					
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 p-3">
					<div class="card bg-dark text-white">
						
						<img src="/assets/img/band/einzel_basti.jpg" alt="..." class="card-image">
						<div class="card-img-overlay">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							
						</div>
					</div>					
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 p-3">
					<div class="card bg-dark text-white">
						
						<img src="/assets/img/band/einzel_marci.jpg" alt="..." class="card-image">
						<div class="card-img-overlay">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							
						</div>
					</div>					
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 p-3">
					<div class="card bg-dark text-white">
						
						<img src="/assets/img/band/einzel_markus-w.jpg" alt="..." class="card-image">
						<div class="card-img-overlay">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
-->
	<div class="section section-dark" ngsReveal>
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2 class="title">Lineup</h2>
						<p class="description center">
							Marcel Welte - Lead Guitar<br />
							Sebastian Ruf - Vocal + Rhythm Guitar<br />
							Markus Kriten - Bass<br />
							Markus Weber - Drums<br />
						</p>
					</div>
					<div class="col-md-6 text-center">
							<h2 class="title">Contact</h2>
						<p class="description center">
							Band: kontakt@hallsofoblivion.de<br />
							Booking: booking@hallsofoblivion.de<br />
						</p>
					</div>
				</div>
			</div>
		</div>	
</div>