/* You can add global styles to this file, and also import other style files */
body {
	background-color: #000 !important;
}


.section {
	padding: 5rem 0rem !important;
	text-align: justify !important;
}

.title {
	font-family: 'Times New Roman', Times, serif !important;
	text-transform: uppercase !important;
}
