<div class="wrapper">
    <div class="page-header section-dark">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
		<!--<app-components></app-components>-->
		<app-news></app-news>
		<app-live #live></app-live>
		<app-band #band></app-band>
		<app-media #media></app-media>
    </div>
</div>
