<div class="wrapper" ngsReveal>
	<div class="jumbotron live page-header">
		<div class="filter-both"></div>
	</div>
	<div id="live" class="m-3">&nbsp;</div>
	<div class="section section-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ml-auto mr-auto text-center">
					<h2 class="title">Live</h2>
				</div>
				<div class="col-md-12 ml-auto mr-auto text-center">
					<a class="bit-widget-initializer" 
						data-artist-name="Halls Of Oblivion"
						data-display-local-dates="false"
						data-display-past-dates="false"
						data-auto-style="false"
						data-text-color="#FFFFFF"
						data-link-color="#aa0000"
						data-background-color="rgba(0,0,0,0)"
						data-display-limit="15"
						data-link-text-color="#FFFFFF"
						data-display-lineup="false"
						data-display-play-my-city="true"
						data-separator-color="rgba(124,124,124,0.25)">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

