.jumbotron.live {
	background: url('/assets/img/hoo_live.JPG') fixed center no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	border-radius: 0px;
	height: 30rem;
}

:host{
	margin: 100px 0px;
}